<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Existing Orders</h2>

  <ion-list>
    <ion-item *ngFor="let order of orders">
      <ion-label>
        <h3>{{ order.status }}</h3>
        <p>Total: ${{ order.totalPrice }}</p>
        <p>Customer ID: {{ order.customerId }}</p>
      </ion-label>
      <ion-button color="danger" (click)="deleteOrder(order._id)">Delete</ion-button>
    </ion-item>
  </ion-list>

  <h2>Add New Order</h2>

  <ion-item>
    <ion-input placeholder="Customer ID" [(ngModel)]="newOrder.customerId"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Total Price" type="number" [(ngModel)]="newOrder.totalPrice"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="createOrder()">Add Order</ion-button>

</ion-content>
