# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ionic / Angular build output
www/
dist/
build/
out-tsc/
.temp/

# Environment files
.env
*.local

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Angular cache
.angular/

# Capacitor / Cordova
plugins/
platforms/
